<div class="counter-app">
  {{#each groups as |group|}}
    {{#unless @first}}
      <hr class="group-separator" />
    {{/unless}}
    <section class="counter-group">
      {{#if group.img}}
        <img class="group-portrait" src="{{group.img}}" alt="{{group.label}}" />
      {{/if}}
      <div class="group-body">
        <div class="counter-boxes">
        {{#each group.counters as |counter|}}
          <div class="counter-box">
            <span class="counter-name">{{counter.name}}</span>
            <div class="counter-controls">
              {{#if (eq counter.type "number")}}
                <button
                  type="button"
                  class="number-adjust"
                  data-action="numberDec"
                  data-doc-type="{{counter.docType}}"
                  data-doc-id="{{counter.docId}}"
                  data-key="{{counter.key}}"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <span class="counter-value">{{counter.displayValue}}</span>
                <button
                  type="button"
                  class="number-adjust"
                  data-action="numberInc"
                  data-doc-type="{{counter.docType}}"
                  data-doc-id="{{counter.docId}}"
                  data-key="{{counter.key}}"
                >
                  <i class="fas fa-plus"></i>
                </button>
              {{else if (eq counter.type "toggle")}}
                <button
                  type="button"
                  class="toggle-value"
                  data-action="toggleCycle"
                  data-doc-type="{{counter.docType}}"
                  data-doc-id="{{counter.docId}}"
                  data-key="{{counter.key}}"
                  style="{{#if counter.currentState.color}}color: {{counter.currentState.color}};{{/if}}"
                >
                  {{counter.displayValue}}
                </button>
              {{else}}
                <span class="counter-value calculated">{{counter.displayValue}}</span>
              {{/if}}
            </div>
            <div class="counter-actions">
              <button
                type="button"
                class="edit-counter"
                data-action="editCounter"
                data-doc-type="{{counter.docType}}"
                data-doc-id="{{counter.docId}}"
                data-key="{{counter.key}}"
                title="{{localize "COUNTER.Edit"}}"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button
                type="button"
                class="delete-counter"
                data-action="deleteCounter"
                data-doc-type="{{counter.docType}}"
                data-doc-id="{{counter.docId}}"
                data-key="{{counter.key}}"
                title="{{localize "COUNTER.Delete"}}"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        {{/each}}
        <div class="add-box">
          <button
            type="button"
            class="add-counter"
            data-action="addCounter"
            data-doc-type="{{group.docType}}"
            data-doc-id="{{group.docId}}"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      {{#unless group.counters.length}}
        <p class="empty-state">{{localize "COUNTER.NoCounters"}}</p>
      {{/unless}}
      </div>
    </section>
  {{/each}}
</div>
